.title {
  text-align: center;
}
/* 
.Phonebook {
  padding: 20px;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 10px;
  background: linear-gradient(to right, #899ca2, #9cb8bf);
} */
